body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav a:first-child {
  font-size: 30px;
  font-weight: bold;
}

form div {
  margin: 1em;
  display: inline-block;
}

.header h1,
h2 {
  text-align: center;
}

#input-upload {
  display: none;
}
