body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav a:first-child {
  font-size: 30px;
  font-weight: bold;
}

form div {
  margin: 1em;
  display: inline-block;
}

.header h1,
h2 {
  text-align: center;
}

#input-upload {
  display: none;
}

.carousel {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */
}
.prevButton {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
}
.chosenGraph {
  flex-basis: 80%;
  padding: 10px;
}
.nextButton {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
}
.carouselButton {
  border-radius: 50%;
  font-size: 20px;
  padding: 10px 15px;
  color: white;
  background-color: grey;
}
.carouselButton:disabled {
  background-color: white;
  border-color: white;
}
