body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background: rgb(69, 103, 178);
  background: linear-gradient(
    90deg,
    rgba(69, 103, 178, 1) 0%,
    rgba(138, 185, 255, 1) 100%
  );
}

a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}

label {
  display: block;
}

/*
nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */

/* navbar */

#navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

#navbar a {
  margin: 10px;
}

/* general */

.logo {
  font-family: 'Carter One', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #0a044a;
  font-size: 48px;
  text-align: center;
  margin: 12px 0 24px 0;
}
.it {
  color: #0f3390;
}

#main-header {
  font-size: 48px;
  text-align: center;
}

.paper-container {
  min-width: 800px;
  margin: 12px 0 24px 0;
  padding: 24px;
}

.fa-btn svg {
  padding-right: 12px;
}

/* upload */

.header h2,
h3 {
  text-align: center;
}

#input-upload {
  display: none;
}

#upload-btn {
  margin: 12px 0;
}

/* columns */

.select {
  width: 200px;
}

#submit-btn {
  margin: 12px 0;
}

/* graph output */

.carouselButton {
  font-size: 34px;
  color: #0a044a;
  border: none;
}
.carouselButton:disabled {
  color: lightgray;
  border: none;
}

.graph {
  margin-bottom: 24px;
}

.graph h2 {
  text-align: center; /* center graph title */
}

.saveButtons {
  margin-top: 24px;
}

/* single graph */
.modal {
  overflow: scroll;
}

.modal .fullscreen {
  background-color: white;
  margin: 0 5%;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.all-graphs {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 1px;
}

.all-graphs-single {
  border-style: solid;
  margin: 0;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  padding: 10px;
}
.personal-info {
  display: flex;
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  align-items: center;
}
.photo {
  width: 130px;
}
.chart-img {
  width: 30px;
  margin: 10px;
}
.graph-name {
  align-self: center;
}

/* form */

.form {
  max-width: 600px;
  padding: 12px 24px;
}

.form label {
  margin-bottom: 7px;
}

.form button {
  margin: 12px 0 12px 0;
}

.animationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  mix-blend-mode: multiply;
}

#backgroundBar .animationContainer {
  /* transform-origin: 100% 100%; */
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  z-index: -100;
}
