body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background: rgb(237, 223, 224);
  background: linear-gradient(
    90deg,
    rgba(237, 223, 224, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  color: darkslategray;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav a:first-child {
  font-size: 30px;
  font-weight: bold;
}

form div {
  margin: 1em;
  display: inline-block;
}

#createPageElements {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
